*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu-container{
    color: #fff;
    display: flex;
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.features{
    display: flex;
    background-color: antiquewhite;
    flex-direction: column;
    height: 25%;
    align-content: flex-start;
    margin: auto;
}
.logo{
display: flex;
align-self: flex-end;
}

.parent {
    display: flex;
    height: 300px; /* Or whatever */
  }
  
  .child {
    width: 100px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto;  /* Magic! */
  }